/* 헤더 */
.header-search-input {
  width: 20rem;
}

.navbar-menu .is-info:focus {
  outline: none;
  box-shadow: none;
}

.account-header {
  display: block;
  border-bottom: #ddd 1px solid;
  padding-bottom: 0.7rem;
}

.column.is-2, .column.is-2-tablet {
        flex: none;
        width: 17.5%;
        text-align: center;
}

/* 주문 리스트 */
.orders-container {
  max-width: 1000px !important;
  margin: 5rem auto 2rem auto;
}

.orders-top {
  text-align: center;
  border-bottom: #aaa 1px solid;
  padding: 0;
}

.orders-top .column {
  font-weight: bold;
  padding: 0.75rem;
}

.orders-item {
  text-align: center;
  align-items: center;
  display: flex;
  padding: 1rem 0.75rem;
}

.orders-item:not(:last-child) {
  border-bottom: #bbb 1px solid;
}

.orders-item .column {
  padding: 1rem 0.75rem;
}

.order-summary {
  white-space: pre-line;
}

.modal .box {
  text-align: center;
}
.modal .buttons {
  justify-content: center;
}
