.register-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.register-form-box {
    width: 30rem;
}

.register-form-box .title {
    text-align: center;
}

.register-form-box .button {
    font-weight: bold;
}