/* 헤더  */
.header-search-input {
  width: 20rem;
}

.navbar-menu .is-info:focus {
  outline: none;
  box-shadow: none;
}

.account-header {
  display: block;
  border-bottom: #ddd 1px solid;
  padding-bottom: 0.7rem;
}


.heading {
  font-size: 0.7rem;
  text-transform: none;
}

/* 주문 리스트 */
.orders-container {
  max-width: 1150px;
  margin: 7rem auto 2rem auto;
}

.orders-top {
  text-align: center;
  border-bottom: #aaa 2px solid; /* 테두리 높이 증가 */
  padding: 1rem 0; /* 상하 여백 증가 */
  display: flex;
  background-color: #f0f8ff; /* 연한 파란색으로 변경 */
  color: #4d4d4d; /* 텍스트 색상 변경 */
  color: #0066cc;
}


.orders-top .column {
  font-weight: bold;
  white-space: nowrap;
  padding: 0 0.5rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#usersContainer .columns {
  padding: 1rem 0;
  border-bottom: #bbb 1px solid;
}

#usersContainer .column {
  word-break: break-all;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 5 0.2rem;
  white-space: nowrap;
}

/* 반응형 디자인 */
@media screen and (max-width: 400px) {
  .orders-top {
    display: none;
  }

  .orders-item {
    flex-direction: column;
    border-bottom: #bbb 1px solid;
    padding: 1rem 0;
  }

  .orders-item .column {
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
  }
}
