.header-search-input {
  width: 20rem;
}

.navbar-menu .is-info:focus {
  outline: none;
  box-shadow: none;
}

.product-item {
  cursor: pointer;
}

.product-item .image {
  margin: 0.5rem 1rem 0.5rem 0.5rem;
  height: 200px;
  width: 200px;
}

.product-item .image img {
  height: 200px;
}

.product-item p.title {
  display: inline-block;
  margin: 1rem 0;
}

.product-item .button {
  margin: 1rem 0.5rem;
  float: right;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
}

.button-create {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.button-modify {
  background-color: #28a745;
  border-color: #28a745;
  color: #ffffff;
}

.button-delete {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #ffffff;
}

.product-item p.title .tag {
  display: inline-block;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.product-item p.author {
  font-size: 1.2rem;
}

.product-item p.category {
  font-weight: bold;
  font-size: 1.2rem;
}

.product-item span.price {
  font-size: 2rem;
  margin-top: 2rem;
}

.product-item span.stock {
  font-size: 1.5rem;
}

.media + .media {
  margin-top: 0.5rem;
  padding-top: 0;
}

.message:not(:last-child) {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 500px) {
  .product-item {
    display: block;
  }

  .product-item .image {
    margin: 0.5rem auto;
  }
}
