/* 커스텀 검색 입력 스타일 */
.header-search-input {
  width: 20rem;
}

.navbar-menu .is-info:focus {
  outline: none;
  box-shadow: none;
}

.navbar-dropdown {
  max-height: 300px;
  overflow-y: auto;
}

.navbar-item.ml-2 {
  margin-left: 0.5rem;
}

#search-form .input {
  width: 23rem;
}
